#nav_bar{
    background-color: rgba(25, 76, 41, 1);
    height: 72px;
}

#input-log_date{
    width: 135px;
}

#menu_div{
    background-color: rgba(25, 76, 41, 1);
    padding: 0px;
}

#content_row{
    width:auto;
    margin: auto;
    min-height: 571px;
}

#rel_list{
    padding: 5px;
    border: 30px solid rgba(25, 76, 41, 1);
}

#form_new{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    min-width: 1000px;
}

#footer_row{
    background-color: rgba(25, 76, 41, 1);
    min-height: 200px;
    margin: auto;
    width:auto;
}

#brand_FORM{
    color: white; 
    font-family: "Lexend", sans-serif; font-weight: bold; font-size: 32px;
    padding-left: 25px;
}
#brand_CV{
    color: rgb(30, 141, 20); 
    font-family: "Lexend", sans-serif; font-weight: bold; font-size: 32px;
}


#text_conta_nav{
    color: white; 
    font-family: "Lexend", sans-serif; font-weight: bold; font-size: 16px;
}

#text_relatorios_nav{
    color: white; 
    font-family: "Lexend", sans-serif; font-weight: bold; font-size: 16px;
}

#text_relatorios_form{
    color: rgb(0, 0, 0); 
    font-family: "Lexend", sans-serif; font-size: 25px;
}

#text_criarrel_form{
    color: rgb(0, 0, 0); 
    font-family: "Lexend", sans-serif; font-size: 20px;
}

#rel_header_row{
    width: auto;
    height: auto;
    margin: 0px;
}

#rel_form{
    margin-left: 10px;
    margin-right: 10px;
    border-width: 10px;
    border-style: solid;
    border-color: rgba(25, 76, 41, 1);
    background-color: rgba(25, 76, 41, 1);
    color: white;
    font-family: "Lexend", sans-serif; font-size: 15px;
}

#rel_list{
    margin: auto;
}

#form-fri-tab{
    color: green;
}

#form-thu-tab{
    color: green;
}

#form-wed-tab{
    color: green;
}

#form-tue-tab{
    color: green;
}

#form-mon-tab{
    color: green;
}

hr{
    color: rgb(0, 0, 0);
}

#hr-branco{
    color: rgb(255, 255, 255);
}

#button-log_date{
    color: white;
    background-color: rgba(25, 76, 41, 1);
}


  .nav-bar {
    font-family: "Lexend", sans-serif;
    font-weight: bold;
    color: #f1fff1;
  }

  label {
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    font-family: "Lexend", sans-serif;
  }

  .small_label {
    font-size: 16px;
  }

  

